body
{

background-image:  url(images/henna.png);
background-size: 100px 100px;

}
#content
{

background-color: rgb(249, 214, 254);
font-family: 'Rajdhani', sans-serif;
width: 1000px;
margin: auto;
padding: 10px;
height: 1000px;

}

.content
{

background-color: rgb(249, 214, 254);
font-family: 'Rajdhani', sans-serif;
width: 1000px;
margin: auto;
padding: 10px;
height: auto;

}

p
{

font-family: 'Source Sans Pro', sans-serif;

}

.title
{

 background-color: rgb(200, 246, 246); 
 padding: 1pt;
     
}

.title h1
{

font-size: 50pt;
font-family: 'Cinzel', serif;
font-weight: bolder;
text-align: center;

}

.navbar
{

background-color: rgb(254, 177, 213);
text-align: center;
font-weight: bolder;
font-size: 20pt;
margin-bottom: 30pt;

}

.navbar li
{

display: inline-block;
padding-left: 70pt;
padding-right: 70pt;
padding-top: 10pt;
padding-bottom: 10pt;


}

.navbar li a
{

color: black;
text-decoration: none;

}

.navbar ul li :hover
{

color: rgb(254, 1, 119); 

}

p
{

font-size: 15pt;

}

.main_content
{

background-color: white;
border-color: rgb(162, 254, 205);
border-style: solid;
border-width: 10px;
width: 400px;
height: auto;
margin-left: 25px;
padding: 20pt;
float: left;

}

.selfie
{

float: right;
padding: 20pt;
margin-top: 150px;
}

#meimg
{

transform: rotate(-90deg);
width: 400px;
height: 240px;
border-color: rgb(162, 254, 205);
border-style: solid;
border-width: 10px;

}

.contentv2
{

background-color: white;
border-color: rgb(162, 254, 205);
border-style: solid;
border-width: 10px;
width: 800px;
height: auto;
margin: auto;
padding: 20pt;

}

#email
{

width: 50px;
height: 50px;
display: block;

}

.contactli a
{

color: rgb(254, 1, 119);
text-decoration-line: underline;

}

.contactli :hover
{

color: black;

}

.contactli
{

font-family: 'Source Sans Pro', sans-serif;

}



footer
{

width: 1000px;
padding: 10px;
margin: auto;
background-color: rgb(254, 177, 213);
text-align: center;

}

footer p
{

font-family: 'Rajdhani', sans-serif;

}