/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');

// breakpoint mixin
@mixin breakpoint($mq01: 0, $mq2: false, $maxmin: max-width) {
    @if $mq2 == false {
        @media ($maxmin: $mq01) {
            @content;
        }
    }
    @else {
        @media (min-width: $mq01) and (max-width: $mq2) {
            @content;
        }
    }
}

// responsive font size mixin
@mixin font-size-map($font-size-map) {
    @each $breakpoint, $font-size in $font-size-map {
        @if $breakpoint == null {
            font-size: $font-size;
        } @else {
            @include breakpoint($breakpoint) {
                font-size: $font-size;
            }
        }
    }
}

// breakpoint variables
$lg:  117.0rem; // 1170px
$md:  102.4rem; //1024px
$sm:  64rem; // 640px;
$xs:  48rem; //480px;

//Font size
$html-font-size: (null: 2.0rem, $md: 1.9rem, $sm: 1.8rem, $xs: 1.7rem);
$paragraph-font-size: (null: 2.2rem, $lg: 2.1rem, $md: 2.0rem, $sm: 1.9rem, $xs: 1.8rem);
$h1-font-size: (null: 4.5rem, $lg: 4.4rem, $md: 4.3rem, $sm: 4.2rem, $xs: 4.1rem);

html{
    line-height: 1.2;
    width: 100%;
    height: 100%;
    font-size: 62.5%;

}

body {
    @include font-size-map($html-font-size);

}

p {
    @include font-size-map($paragraph-font-size);

}

.title {

    font-family: 'Special Elite', cursive;
    @include font-size-map($h1-font-size);
    padding: 2.0rem;
    display: flex;
    justify-content: center;

}

.navbar {
    display: flex;
    justify-content: center;

        li {
            display: inline-block;
            padding: 1.0rem;
        }
}

.contentHolder {
    padding: 2.0rem;
    width: 50rem;
    display: flex;
    justify-content: center;

    img {
        transform: rotate(-90deg);
        width: 9000rem;
        height: 100rem;
    }
}